<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-card class="welcome-card" routerLink="/khutbah-view">
    <ion-card-header>
      <ion-card-subtitle>Kuthbah 01 - 25th Feb 2019</ion-card-subtitle>
      <ion-card-title>Islamic Vision</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building.</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Kuthbah 01 - 25th Feb 2019</ion-card-subtitle>
      <ion-card-title>Islamic Vision</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building.</p>
    </ion-card-content>
  </ion-card>
</ion-content>