<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>K</ion-title>
  </ion-toolbar>
  <div class="header-khutbah" #khutbahHeader>
    <!-- Intro -->
    <!-- <div class="scetion-buttons" *ngIf="activeSection === 'arabic1'">
      <div #arabic1Btn class="section-button" [class.active-btn]="activeSection === 'arabic1'"
        (click)="scrollTo(arabic1)">
        Arabic Intro
      </div>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div> -->
    <!-- Point 1 -->
    <!-- <div class="scetion-buttons" *ngIf="activeSection === 'point1'">
      <span class="dot"></span>
      <div #arabic1Btn class="section-button" [class.active-btn]="activeSection === 'arabic1'"
        (click)="scrollTo(arabic1)">
        Point 1
      </div>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div> -->

    <!-- Point 3 -->
    <!-- <div class="scetion-buttons" *ngIf="activeSection === 'point2'">
      <span class="dot"></span>
      <span class="dot"></span>
      <div #arabic1Btn class="section-button" [class.active-btn]="activeSection === 'arabic1'"
        (click)="scrollTo(arabic1)">
        Point 3
      </div>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div> -->

    <!-- <ion-buttons slot="end">
        <ion-button (click)="presentPopover($event)">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    <!-- <div #arabic1Btn class="section-button" [class.active-btn]="activeSection === 'arabic1'" (click)="scrollTo(arabic1)">
        Arabic Intro
      </div>
      <div #point1Btn class="section-button" [class.active-btn]="activeSection === 'point1'" (click)="scrollTo(point1)">
        Point 1
      </div>
      <div #point2Btn class="section-button" [class.active-btn]="activeSection === 'point2'" (click)="scrollTo(point2)">
        Point 2
      </div>
      <div class="section-button">
        Point 3
      </div>
      <div class="section-button">
        Arabic Middle
      </div>
      <div class="section-button">
        Action 1
      </div>
      <div class="section-button">
        Action 2
      </div>
      <div class="section-button">
        Action 3
      </div>
      <div class="section-button">
        End
      </div> -->
    <!-- </div> -->
    <div class="progress-container">
      <div class="progress-bar" id="myBar"></div>
    </div>
  </div>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="onPageScroll($event)">
  <div *ngFor="let khutbah of khutbahSermons | async" #mainContainer>

    <app-sermon-view  *ngFor="let script of khutbah.khutbah_scripts" [khutbah]="script.khutbah" [title]="script.title" [id]="script.id"></app-sermon-view>
    <!-- <app-sermon-view [khutbah]="khutbah.khutbah.arabic_1"></app-sermon-view> -->


    <!-- <div class="sticky" [class.is-sticky]="activeSection === 'arabic1'">
      Arabic Intro
    </div>
    <div class="container" #arabic1>
      <div class="timeline-block timeline-block-right" *ngFor="let action of khutbah.khutbah.arabic_1; let i = index ">
        <div class="marker"></div>
        <div class="timeline-content">
          <div [class.arabic-card]="action.type === 'arabic'">{{action.text}}</div>
        </div>
      </div>
    </div> -->
  </div>
</ion-content>